@page
@model NotesApp.Pages.TextNotes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TextNote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TextNote.Id" />
            <input type="hidden" asp-for="TextNote.CreationDate" />
            <div class="form-group">
                <label asp-for="TextNote.Title" class="control-label"></label>
                <input asp-for="TextNote.Title" class="form-control" />
                <span asp-validation-for="TextNote.Title" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="TextNote.TextContent" class="control-label"></label>
                    <textarea rows="6" cols="60" asp-for="TextNote.TextContent" id="textArea" placeholder="Enter your text here..."></textarea>
                    <span asp-validation-for="TextNote.TextContent" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
