@page

@{
    ViewData["Title"] = "Create Note";
}

<h1>Create new note</h1>

<form style="max-width: 560px;" id="create-form" class="needs-validation" novalidate>
    <div class="mb-3 position-relative">
        <label for="note-title-input" class="form-label">Note Title:</label>
        <input name="title" type="text" class="form-control" id="note-title-input" placeholder="New note..." required>
        <div class="invalid-feedback">
            Please enter a title for note.
        </div>
    </div>

    <div class="mb-3 position-relative">
        <label>Note Color:</label>
        <select class="form-select" aria-label="Note Color:" name="color" id="note-colors-select" required>
            <option selected disabled>Select color from menu...</option>
        </select>
        <div class="invalid-feedback">
            Please select note color.
        </div>
    </div>

    <div class="mb-3 note-type-area">
        <label>Choose Note Type:</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="type-text-radio" value="TextNote" required>
            <label class="form-check-label" for="type-text-radio">
                Text Note
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="type-todo-radio" value="ToDoList" required>
            <label class="form-check-label" for="type-todo-radio">
                ToDo List
            </label>
            <div class="invalid-feedback">
                Please select note type.
            </div>
        </div>
    </div>

    <div class="mb-3 hidden position-relative" id="text-note-input">
        <label>Add Text: </label>
        <textarea id="textarea-input" class="form-control" name="textContent" aria-label="Your text..."></textarea>
        <div class="invalid-feedback">
            Please enter a message in the textarea.
        </div>
    </div>

    <div class="hidden position-relative" id="todo-list-input">
        <div class="mb-1">
            <label for="new-todo" class="form-label">Add new todo item:</label>
            <div class="input-group position-relative">
                <input type="text" id="new-todo" class="form-control" placeholder="New task..." aria-label="New task..." aria-describedby="btn-add-task">
                <button class="btn btn-outline-secondary" type="button" id="btn-add-task">Add</button>
                <div class="invalid-feedback">
                    Please enter a message in the textarea.
                    List should have at least one item.
                </div>
            </div>
        </div>
        <br />
        <div class="invalid-feedback">
            Please enter at least one todo item.
        </div>

        <div>
            <ul class="list-group" id="todo-list">
            </ul>
        </div>
    </div>
    <br />

    <input type="submit" value="Create" class="btn btn-outline-success">

</form>

@section Scripts
{
    <script src="~/js/createNote.js"></script>
}
