@page "/"
@model NotesApp.Pages.Notes.IndexModel

<div>
    <h1>List of Notes <a style="float:right" class="btn btn-secondary" href="/Notes/Create">Add Note</a></h1>
</div>

<div style="display: flex; justify-content: space-between;" class="pb-2">
    <div>
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 11.7em; text-align:left">
           Options:  
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header" id="dropdown-header">Display: </h6>
            <a class="dropdown-item" id="notes-all">All Notes</a>
            <a class="dropdown-item" id="text-note-sort">Type: Text Notes</a>
            <a class="dropdown-item" id="todo-sort">Type: ToDo Lists</a>
            <a class="dropdown-item" id="my-sort">Creator: My Notes</a>
            <a class="dropdown-item" id="shared-sort">Creator: Shared Notes</a>
        </div>
    </div>

    <div style="display: flex; gap: 10px;">
        <input type="text" id="search-input" class="form-control" placeholder="Search By Title..."/>
        <button class="btn btn-sm btn-light" id="search-btn" style="display:flex; flex-direction:row">Search</button>
    </div>
</div>

<div class="album py-2 bg-light">
    <div class="container">
        <div class="row paginated-list" id="notes-index">

        </div>
    </div>
</div>

<div class="pagination-container">
    <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">
        &lt;
    </button>

    <div id="pagination-numbers">
    </div>

    <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
        &gt;
    </button>
</div>

@section Scripts
{
    <script src="~/js/indexNote.js"></script>
}