@page
@model NotesApp.Pages.ToDoItems.CreateModel

@{
    ViewData["Title"] = "Add task";
}

<h1>Add new task</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ToDoItem.NoteId" type="hidden" value="@ViewData["NoteId"]">
            <div class="form-group">
                <label asp-for="ToDoItem.Content" class="control-label"></label>
                <input asp-for="ToDoItem.Content" class="form-control" />
                <span asp-validation-for="ToDoItem.Content" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ToDoItem.IsDone" /> @Html.DisplayNameFor(model => model.ToDoItem.IsDone)
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-noteId="@ViewData["NoteId"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
