html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#CheckBoxForToDO {
    width: 2em;
    height: 2.5em;
    vertical-align: unset;
    margin-top: 0em;
}

.expand-button {
    margin-top: .25em;
    margin-bottom: 1em;
    color: black;
}

.cutoff-text {
    height: 6em;
    overflow: hidden;
}

.card-body.showContent p {
    height: auto;
}

.card-body.showContent button.expand-button {
    background-color: gray;
}

.hidden {
    display: none;
}

.delete-icon {
    float: right;
}

.delete-icon:hover {
    cursor: pointer;
    color: #f34747;
}

.bg-dark {
    background-color: #5A5A5A;
}

.bg-primary {
    background: radial-gradient(#B0C4DE, #0076CE) !important;
}

/*.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}

.border-gradient-purple {
    
}*/