html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#CheckBoxForToDO {
    width: 2em;
    height: 2.5em;
    vertical-align: unset;
    margin-top: 0em;
}

.expand-button {
    margin-top: .25em;
    margin-bottom: 1em;
    color: black;
}

.card-body.showContent p {
    height: auto;
}

.card-body.showContent button.expand-button {
    background-color: gray;
}

.hidden {
    display: none;
}

.delete-icon {
    float: right;
}

.delete-icon:hover {
    cursor: pointer;
    color: #f34747;
}

.bg-dark {
    background-color: #5A5A5A;
}

.bg-primary {
    /*background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), radial-gradient(#B0C4DE, #0076CE) !important;*/
    background: radial-gradient(#B0C4DE, #0076CE) !important;
}

.cutoff-text {
    height: 6em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* truncate to 4 lines */
    -webkit-line-clamp: 4;
}

.btn-readmore {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.btn-group {
    float: right;
}